services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - POKE_API_BASE_URL=https://pokeapi.co/api/v2/
      - FUN_TRANSLATIONS_API_URL=https://api.funtranslations.com/translate/
    restart: unless-stopped
